[submodule "include/flatbuffers"]
	path = include/flatbuffers
	url = https://github.com/google/flatbuffers.git
	ignore = dirty
[submodule "include/tensorflow"]
	path = include/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	ignore = dirty
